.wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  color: var(--black);
  border: 1px solid #d6e0ec;
  border-radius: 15px;
  padding: 16px 24px;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }

  h3 {
    max-width: 295px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    font-family: Involve, sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 390px) {
      font-size: 16px;
    }
  }
}

.eGov {
  border-color: #1fff50;
}

.wrapper.active {
  background-color: #eff0ff;
  border-color: #565add;
  color: var(--blue);
}