.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .videoIntro {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 183px;
    height: auto;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }
  }
}

.toggles {
  display: flex;
  gap: 0;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.documents {
  display: flex;
  padding: 32px 25px;
  border-radius: 0 20px 20px 20px;
  flex-direction: column;
  gap: 40px;
  background: white;

  @media screen and (max-width: 768px) {
    padding: 32px 15px;
  }
}

.documentsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h2 {
    display: flex;
    font-size: 32px;
    gap: 10px;
    font-weight: 600;
    color: var(--black);

    span {
      color: var(--blue);
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: black;
    max-width: 620px;
    margin: 10px 0;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}

.documentsContent {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 2fr);
  }

  @media screen and (max-width: 390px) {
    display: flex;
    flex-direction: column;
  }
}

.languagePair {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 15px;
  border: 1px solid #565add;

  p {
    display: flex;
    font-size: 16px;
    font-weight: 500;

    @media screen and (max-width: 1028px) {
      font-size: 12px;
    }
  }
}

.mobileOnly {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.selectors {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
}

.infoP{
  display: flex;
  flex-direction: column;
  width: 100%;

  p{
    display: flex;
    max-width: 450px;
    line-height: 140%;
    font-weight: 500;
    font-size: 16px;
  }
}

.documentNavigation {
  display: flex;
  gap: 20px;
  align-content: flex-end;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;

  p{
    display: flex;
    max-width: 326px;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

.accordionDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  font-family: 'CraftworkGrotesk', Arial, sans-serif;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.accordionWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #d5dfeb;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  font-family: 'CraftworkGrotesk', sans-serif;

  p {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: black;
    align-content: center;
    justify-content: start;
    gap: 10px;
    justify-items: center;
    align-items: center;
    font-family: 'CraftworkGrotesk', sans-serif;
  }

  .icon {
    color: #cccccc;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      color: #aaa9a9;
    }
  }
}

.popupContent {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 40px 0 0 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    img {
      width: 280px;
      height: auto;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    p {
      font-size: 13px;
    }
  }
}

.accordionTitle {
  display: flex;
  font-family: 'CraftworkGrotesk', Arial, sans-serif;
  font-size: 16px;
  gap: 5px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.finalDocuments {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 23px;
  border-radius: 15px;
  border: 1px solid #d6e0ec;
}

.uploadedList {
  margin-top: 16px;
  padding-left: 20px;
  list-style: none;
  color: #333;
  font-size: 14px;

  li {
    margin-bottom: 6px;
  }
}

.dropFile {
  display: flex;
  min-height: 510px;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #d6e0ec;
  border-radius: 15px;
  padding: 24px 16px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  transition: 0.2s ease-in-out;

  h5 {
    display: flex;
    font-size: 12px;
    color: var(--blue);
    max-width: 625px;
    font-weight: 500;
    text-align: center;

    &:first-child {
      text-transform: uppercase;
    }
  }

  h4 {
    display: flex;
    font-size: 14px;
    color: var(--blue);
    max-width: 625px;
    font-weight: 500;
    text-align: center;

    &:first-child {
      text-transform: uppercase;
    }

  }

  &:hover {
    border: 1px solid #565add;
  }

  p {


    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.tariffAndLanguage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tariffItem {
  display: flex;
  flex-direction: column;
  background: #eff0ff;
  border: 1px solid #d6e0ec;
  border-radius: 30px;
  width: 100%;
}

.tariffTitle {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h2 {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    color: var(--black);
  }

  p {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: Involve, sans-serif;
  }
}

.advantages {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.advantageItem {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 24px 16px;
  border: 1px solid #eff3f7;
  border-radius: 10px;

  &:first-child {
    border: 1px solid #a5ffb9;
  }
}

.tariffs {
  display: flex;

  @media screen and (max-width: 768px) {
    width: 100%;
    overflow: scroll;
    gap: 20px;
  }
}

.tariffItemInner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px;

  h3 {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    padding: 50px 0;
  }
}

.tariffButton {
  display: flex;
  padding: 40px 32px;
  border-top: 1px solid #f9fafb;
}

.popupContentWarning {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;

  h3 {
    color: #565add;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: center;
  }
}
