.wrapper {
  display: flex;
  flex-direction: column;
}

.toggles {
  display: flex;
  gap: 0;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.documents {
  display: flex;
  padding: 32px 25px;
  border-radius: 0 20px 20px 20px;
  flex-direction: column;
  gap: 40px;
  background: white;

  @media screen and (max-width: 768px) {
    padding: 32px 15px;
  }
}

.documentsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h2 {
    display: flex;
    font-size: 32px;
    gap: 10px;
    font-weight: 400;
    color: var(--black);

    span {
      color: var(--blue);
    }
    
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}

.documentsContent {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 16px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 2fr);
  }

  @media screen and (max-width: 390px) {
    display: flex;
    flex-direction: column;
  }
}

.documentNavigation {
  display: flex;
  gap: 20px;
  align-content: flex-end;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: flex-end;
}
