.wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 70px auto;
  gap: 15px;


  @media screen and (max-width: 1440px) {
    max-width: 1180px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
}
