@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('../assets/fonts/Craftwork/CraftworkGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('../assets/fonts/Craftwork/CraftworkGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('../assets/fonts/Craftwork/CraftworkGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('../assets/fonts/Craftwork/CraftworkGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CraftworkGrotesk';
    src: url('../assets/fonts/Craftwork/CraftworkGrotesk-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('../assets/fonts/Involve/Involve-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('../assets/fonts/Involve/Involve-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('../assets/fonts/Involve/Involve-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('../assets/fonts/Involve/Involve-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'CraftworkGrotesk', 'Involve', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("../../public/grid.svg");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--dark-purple);
    text-decoration: none;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --dark-purple: #173556;
    --black: #000;
    --blue: #565add;
    --mobile: 480px;
    --tablet-l: 768px;
    --tablet: 1024px;
    --desktop-laptop: 1280px;
    --desktop: 1920px;

}
