.header {
  display: flex;
  margin: 0 auto;
  padding: 25px 36px;
  max-width: 1320px;
  width: 100%;
  border-radius: 30px;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 1%;
  align-items: center;
  z-index: 99;
  justify-items: center;
  background: var(--background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  img{
    cursor: pointer;
  }

  @media screen and (max-width: 1280px) {
    width: 90%;
  }
}

.nav {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-items: center;
  justify-content: center;


}

.drawerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 20px;
  gap: 40px;
}

.drawerContentLinks{
  display: flex;
  flex-direction: column;
  gap: 24px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: Involve, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: fit-content;
    position: relative;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      width: 100%;
    }
  }
}

.drawerContentHeader {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.navLinks {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 1078px) {
    display: none;
  }

  button {
    display: flex;
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background: none;
    font-family: Involve, sans-serif;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-radius: 50px;
      height: 1px;
      background-color: currentColor;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}